<%- include('includes/header.html') %>

    <div class="container-mid">
        <article class="fullArticle">
            <header class="articleTitle">Penguin super-colony spotted from space</header>
            <div class="articleAuthorData">
                <div class="articleAuthor">By Jonathan Amos and Victoria Gill</div>
                <div class="articlePhotobox">
                    <img class="articleAuthorPhoto " src="./assets/images/author1.png">
                </div>
            </div>
            <div class="articleDate ">2 March 2018</div>
            <img class="articleImage " src="./assets/images/article1.jpg">
            <p class="articleText ">Scientists have stumbled across a huge group of previously unknown Adélie penguins on the most northerly point
                of the Antarctic Peninsula.</br> Numbering more than 1.5 million birds, they were first noticed when great
                patches of their poo, or guano, showed up in pictures taken from space. The animals are crammed on to a rocky
                archipelago called the Danger Islands.
                <b>The researchers, who detail the discovery in the journal Scientific Reports, say it is a total surprise.</b>
                "It 's a classic case of finding something where no-one really looked! The Danger Islands are hard to reach, so people didn't
                really try that hard, " team-member Dr Tom Hart from Oxford University, UK, told BBC News.</br>
                <em>The scientists used an algorithm to search images from the American Landsat spacecraft</em> for sites of
                possible penguin activity. Landsat does not return especially high-resolution pictures and so when the system
                flagged potential colonies, they had to be followed up with much sharper pictures for confirmation. "And
                the sheer size of what we were looking at took our breath away, " said Dr Heather Lynch from Stony Brook
                University, New York. "We thought, 'Wow! If what we're seeing is true, these are going to be some of the
                largest Adélie penguin colonies in the world, and it 's going to be well worth our while sending in an expedition
                to count them properly."</p>

        </article>
        <div class="comments">
            comments
        </div>
        <button class="return">
            <a href="index.html">Return</a>
        </button>
    </div>



    <%- include('includes/footer.html') %>