<%= require('html-loader!./includes/header.html') %>

    <div class="container-mid">
        <section class="articles">
            <article class="article art1">
                <h1 class="Title">Penguin super-colony spotted from space</h1>
                <div class="authorData">
                    <h2 class="author">By Jonathan Amos and Victoria Gill</h2>
                    <div class="photoBox">
                        <img class="authorPhoto" src="./assets/images/author1.png" onerror="this.src='assets/images/no-photo.jpg';">
                    </div>
                </div>
                <h3 class="Date">
                    <span class="timestamp" hidden>2018-03-02</span>
                    <span class="timeCalc"></span>
                </h3>
                <img class="Image" src="./assets/images/article1.jpg">
                <div class="textbox">
                    <p class="text">Scientists have stumbled across a huge group of previously unknown Adélie penguins on the most northerly
                        point of the Antarctic Peninsula.</p>
                </div>
                <div class="numComments"></div>
            </article>
            <article class="article art2">
                <h1 class="Title">Rare signal from early universe sends scientists clues about dark matter</h1>
                <div class="authorData">
                    <h2 class="author">By Amina Khan</h2>
                    <div class="photoBox">
                        <img class="authorPhoto" src="./assets/images/author2.png" onerror="this.src='assets/images/no-photo.jpg';">

                    </div>
                </div>


                <h3 class="Date">
                    <span class="timestamp" hidden>March 2 2018 4:00 pm</span>
                    <span class="timeCalc"></span>
                </h3>
                <img class="Image" src="./assets/images/article2.jpg">
                <div class="textbox">
                    <p class="text">Using a deceptively simple antenna roughly the size and shape of a dinner table, radio astronomers have
                        made an unprecedented discovery: telltale fingerprints from the earliest stars in the cosmos, pressed
                        into the afterglow of the universe’s birth. </p>
                </div>
                <div class="numComments"></div>
            </article>
            <article class="article art3">
                <h1 class="Title">New species of microscopic tardigrade discovered in a Japanese parking lot</h1>

                <div class="authorData">
                    <h2 class="author">By Mike Wehner</h2>
                    <div class="photoBox">
                        <img class="authorPhoto" src="./assets/images/author3.jpg" onerror="this.src='assets/images/no-photo.jpg';">

                    </div>
                </div>

                <h3 class="Date">
                    <span class="timestamp" hidden>March 2nd, 2018 at 2:48 PM</span>
                    <span class="timeCalc"></span>
                </h3>
                <img class="Image" src="./assets/images/article3.png">
                <div class="textbox">
                    <p class="text">It’s not often that a microscopic organism gains celebrity status, but that’s exactly what tardigrades
                        have managed to accomplish. The tiny organisms, often called “water bears” due to their stout body
                        shapes, have gained popularity thanks to their undeniable cuteness and incredible resiliency.</p>
                </div>
                <div class="numComments"></div>
            </article>
            <article class="article art4">
                <h1 class="Title">MIT study shows how much driving for Uber or Lyft sucks</h1>


                <div class="authorData">
                    <h2 class="author">by Natasha Lomas</h2>
                    <div class="photoBox">
                        <img class="authorPhoto" src="./assets/images/author4.png" onerror="this.src='assets/images/no-photo.jpg';">

                    </div>
                </div>

                <h3 class="Date">
                    <span class="timestamp" hidden>March 2nd, 2018 at 10:47 PM</span>
                    <span class="timeCalc"></span>
                </h3>
                <img class="Image" src="./assets/images/article4.jpg">
                <div class="textbox">
                    <p class="text">Ride-hailing giants Uber and Lyft are delivering pitiful levels of take-home pay to the hundreds of thousands
                        of US independent contractors providing their own vehicles and driving skills to deliver the core
                        service, according to an MIT CEEPR study examining the economics of the two app platforms. The report
                        catalyses the debate about conditions for workers on gig economy platforms.
                    </p>
                </div>
                <div class="numComments"></div>
            </article>
            <article class="article art5">
                <h1 class="Title">Ancient Artists Carved Camels in Saudi Desert’s Stone</h1>

                <div class="authorData">
                    <h2 class="author">By Nicholas St. Fleur</h2>
                    <div class="photoBox">
                        <img class="authorPhoto" src="./assets/images/author5.jpg" onerror="this.src='assets/images/no-photo.jpg';">

                    </div>
                </div>

                <h3 class="Date">
                    <span class="timestamp" hidden>FEB. 15, 2018</span>
                    <span class="timeCalc"></span>
                </h3>
                <!-- <img class="Image" src="./assets/images/article5.jpg"> -->
                <iframe class="Image" src="https://www.youtube.com/embed/5rLXY2nxJW4"></iframe>
                <div class="textbox">
                    <p class="text">Some 2,000 years ago, perhaps, ancient artists in the Arabian desert climbed tall rock outcrops and carved
                        life-size camels into the stone. Now, archaeologists exploring a site in northwest Saudi Arabia have
                        discovered about a dozen of the humped sculptures. Although camel art has been found in other parts
                        of the Arabian Peninsula, the newly uncovered engravings at the so-called “Camel Site” are stylistically
                        unique. The findings, which were reported Tuesday, could help provide insight into the history and
                        development of rock art on the Arabian Peninsula.</p>
                </div>
                <div class="numComments"></div>
            </article>
            <article class="article art6">
                <h1 class="Title">Wildilfe World Zoo welcomes new baby giraffe</h1>

                <div class="authorData">
                    <h2 class="author">By azfamily.com News Staff</h2>
                    <div class="photoBox">
                        <img class="authorPhoto" src="./assets/images/author6.png" onerror="this.src='assets/images/no-photo.jpg';">

                    </div>
                </div>

                <h3 class="Date">
                    <span class="timestamp" hidden>Mar 02, 2018 11:03 PM RST</span>
                    <span class="timeCalc"></span>
                </h3>
                <img class="Image" src="./assets/images/article6.png">
                <div class="textbox">
                    <p class="text"> Wildlife World Zoo, Aquarium & Safari Park welcomes a newborn reticulated giraffe to the Family! Baby
                        Austin made his debut into the world on Feb. 18, 2018. At just a few days old, this precious calf
                        is already standing over 6 feet tall! Austin was born strong and healthy. He and his mother are doing
                        great and will be on display each day at the giraffe exhibit. Female giraffes have a gestation of
                        up to 15 months, one of the longest gestations in the animal kingdom. "The calf is thriving under
                        the close watch of his attentive mother.
                    </p>
                </div>
                <div class="numComments"></div>
            </article>
            <article class="article art7">
                <h1 class="Title">Nintendo Direct Recap: New Switch Games News In March 2018</h1>

                <div class="authorData">
                    <h2 class="author">by Matt Espineli</h2>
                    <div class="photoBox">
                        <img class="authorPhoto" src="./assets/images/author7.png" onerror="this.src='assets/images/no-photo.jpg';">

                    </div>
                </div>

                <h3 class="Date">
                    <span class="timestamp" hidden>March 10, 2018 at 3:11AM</span>
                    <span class="timeCalc"></span>
                </h3>
                <!-- <img class="Image" src=""> -->
                <iframe class="Image" src="https://www.youtube.com/embed/rHFriF29jXg"></iframe>
                <div class="textbox">
                    <p class="text"> Nintendo's latest Nintendo Direct presentation brought a great deal of news. The company had only promised
                        new details on its upcoming Mario-themed sports game, Mario Tennis Aces, but it delivered much more.
                        The March 2018 event brought word on new 3DS games, which include a Luigi's Mansion remake, a port
                        of Captain Toad, and a WarioWare "Best Of" collection. If you're eager to watch the presentation
                        yourself, you can watch it in its entirety below.
                    </p>
                </div>
                <div class="numComments"></div>
            </article>
            <article class="article art8">
                <h1 class="Title">How To Get Mario In Google Maps This Week</h1>

                <div class="authorData">
                    <h2 class="author">By Erik Kain</h2>
                    <div class="photoBox">
                        <img class="authorPhoto" src="./assets/images/author8.png" onerror="this.src='assets/images/no-photo.jpg';">

                    </div>
                </div>

                <h3 class="Date">
                    <span class="timestamp" hidden>Mar 10, 2018 09:08 AM</span>
                    <span class="timeCalc"></span>
                </h3>
                <img class="Image" src="./assets/images/article8.jpg">
                <div class="textbox">
                    <p class="text">Today is Mario Day, a day celebrating video gaming's most famous plumber. That's because today is March
                        10th which you can abbreviate to MAR 10 which, if you look closely, spells Mar10 or Mario, basically.
                        To usher in this auspicious occasion, Nintendo has partnered up with Google to add Mario Time to
                        Google Maps (It's Mario time!) This might have something to do with the upcoming mobile version of
                        Mario Kart, or it might just be a fun promotion.
                    </p>
                </div>
                <div class="numComments"></div>
            </article>
            <article class="article art9">
                <h1 class="Title">Thousands March to Protest Canada Pipeline Expansion Project</h1>

                <div class="authorData">
                    <h2 class="author">By Phuong Le</h2>
                    <div class="photoBox">
                        <img class="authorPhoto" src="./assets/images/author9.jpg" onerror="this.src='assets/images/no-photo.jpg';">

                    </div>
                </div>

                <h3 class="Date">
                    <span class="timestamp" hidden>March 10, 2018, at 6:54 p.m.</span>
                    <span class="timeCalc"></span>
                </h3>
                <img class="Image" src="./assets/images/article9.jpg">
                <div class="textbox">
                    <p class="text"> BURNABY, British Columbia (AP) — Thousands of demonstrators marched Saturday to speak out against a pipeline
                        expansion project that would nearly triple the flow of oil from Canada's tar sands to the Pacific
                        Coast. Indigenous leaders led the march in the Vancouver suburb of Burnaby after telling the crowd
                        that the day's event was a celebration of unity, but they should be prepared in the future to "cross
                        the line" with potential arrests.

                    </p>
                </div>
                <div class="numComments"></div>
            </article>
            <article class="article art10">
                <h1 class="Title">Scientists found a new type of water in diamonds, holy crap</h1>

                <div class="authorData">
                    <h2 class="author">By Proma Khosla</h2>
                    <div class="photoBox">
                        <img class="authorPhoto" src="./assets/images/author10.jpg" onerror="this.src='assets/images/no-photo.jpg';">

                    </div>
                </div>

                <h3 class="Date">
                    <span class="timestamp" hidden>2018-03-10 19:46:36</span>
                    <span class="timeCalc"></span>
                </h3>
                <img class="Image" src="./assets/images/article10.jpg">
                <div class="textbox">
                    <p class="text"> Scientists have found a new type of water known as Ice-VII from diamonds deep in the Earth's crust. This
                        type of ice is about 1.5 times as dense as what we're used to (Ice I), with a different atomic composition
                        similar to what's most commonly found on ice moons orbiting Jupiter or Saturn. As the name implies,
                        there are several types of ice that distinguish our common variety of frozen water from Ice-VII,
                        each more dense than the last. Ice-VII has been compressed, with oxygen atoms in a cubic structure
                        as opposed to the hexagonal structure of Ice-I.

                    </p>
                </div>
                <div class="numComments"></div>
            </article>
        </section>

        <div class="pages">
            Pagination
        </div>
        <button class="newArticle">
            New Article
        </button>
    </div>



    <%= require('html-loader!./includes/footer.html') %>